* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --theme-color: hsl(39, 100%, 50%);
    --theme-text-color: white;
    --theme-dark-color: hsl(39, 70%, 20%);

}

html, body {
    height: 100%;
    width: 100%;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

/*

.grid > * {
    border: 2px solid darkslategrey;
}

.flex > * {
    border: 2px solid darkmagenta;
}

*/

li {
    list-style: none;
}

.container {
    height: 100%;
    width: 100%;
    grid-template-columns: 250px 4fr;
    grid-template-rows: 150px 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar .";

}

.sidebar {
    z-index: 1;
    background-color: var(--theme-color);
    color: var(--theme-text-color);
    padding: 2rem;
    grid-area: sidebar;
    flex-direction: column;
    gap: 5rem;
}

.sidebar > div {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.sidebar .icon {
    width: 2rem;
    height: 2rem;
    background-color: var(--theme-text-color);
    border-radius: 10%;
}

.navigation .icon,
.preferences .icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10%;
}

.navigation,
.preferences {
    margin-left: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
}

.navigation li,
.preferences li {
    align-items: center;
    gap: 1.5rem;
    position: relative;
}

.navigation a,
.preferences a {
    font-size: 1.5rem;
    color: var(--theme-text-color);
    text-decoration: none;
    font-weight: bold;
}

.navigation a::after,
.preferences a::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidebar h1 {
    font-size: 2rem;
}

header {
    z-index: 0;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    grid-area: header;
    box-shadow: 0px 5px 5px 0px #aaa;
}

main {
    padding: 3rem;
    grid-template-areas: 
    ". announcements"
    ". trending";
    grid-template-columns: 5fr 2fr;
    grid-template-rows: minmax(50%, 400px) 400px;
    background-color: #dde3ed;
    gap: 3rem;
}

.card-container {
    grid-row: span 2;
    flex-direction: column;
    gap: 2rem;
    overflow: scroll;
}

.card-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 2rem;
    flex: 1;
}

.card {
    flex: 1;
    height: 100%;
    flex-direction: column;
    font-size: 1rem;
    position: relative;
    border-radius: 0.5rem;
    border: hidden;
    border-left: 0.5rem solid var(--theme-color);
    align-self: center;
    background-color: #fff;
    padding: 2rem;
    overflow: scroll;
    box-shadow: 0px 0px 5px 0px #aaa;
}

.card > a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.card > a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 5rem;
}

.card > p {
    margin-top: 1rem;
    max-inline-size: 90%;
}

.card > .buttons {
    margin-top: auto;
    justify-content: end;
    gap: 2rem;
}

.card > .buttons > li {
    position: relative;
}

.card button {
    width: 1rem;
    border: hidden;
    background: #0000;
    height: 0;
}

.card button::after {
    cursor: pointer;
    content: "⚫";
    position: absolute;
    left: -0.05rem;
    right: 0;
    top: -0.05rem;
    bottom: 0;
}

.announcements {
    grid-area: announcements;
    flex-direction: column;
    gap: 2rem;
}

.announcements > ul {
    border-left: 0.5rem solid var(--theme-color);
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px #aaa;
    padding: 2rem;
    overflow: scroll;
    scrollbar-width: 4px;
    scroll-padding: 2rem;
    flex: 1;
}

.announcement {
    position: relative;
    flex-direction: column;
    flex: 1;
    padding: 1.5rem;
    gap: 1rem;
}

.announcement:not(:last-child) {
    border-bottom: 2px solid #ccc;
}

.announcement > a {
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.announcement > a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.trending {
    grid-area: trending;
    flex-direction: column;
    gap: 2rem;
}


.trending > ul {
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px #aaa;
    padding: 2rem;
    overflow: scroll;
    scrollbar-width: 4px;
    scroll-padding: 2rem;
    flex: 1;
}